<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<header>
        <img class="logo" src="{{ url_for('static', filename='logo.webp') }}" alt="Logo">
        <nav class="nav">
            <span class="nav-item">Individual</span>
            <span class="nav-item">Business</span>
            <span class="nav-item">Project</span>
            <span class="nav-item">Impact</span>
            <span class="nav-item selected">Pictures</span>
            <span class="nav-item">Contribute Now</span>
            <span class="nav-item">Anomaly detection</span>
        </nav>
    </header>
<form action="/upload_images" method="post" enctype="multipart/form-data">
    <input type="file" name="images" accept="image/*" multiple>
    <input type="submit" value="Upload Images">
</form>

</body>
</html>