.idea

Pictures/

venv/
virtualenv/

archive/

config.json

.DS_Store
01 extract_upload_AWS/.DS_Store
02 check_duplicates/.DS_Store
03 extract_upload_AWS/.DS_Store
04 extract_upload_AWS/.DS_Store
06 website/.DS_Store
03 weather_prediction/dataset

dataset/
update_dataset/

03 weather_prediction/dataset/
03 weather_prediction/updated_dataset/

__pycache__
Saved_model_weather/

03\ weather_prediction/weather_data/
weather_data/

zipimages/

01 extract_upload_AWS/zipimages/